.form--content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 80vh;
    width: 75vh;
    background-color: rgba(245, 245, 245, 0.75);
    border-radius: 25px;
    overflow-y: auto;
    padding-top: 25px
}

.taleForm {
    flex: 1
}
