.label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.label-text {
  margin-left: 0.5em;
}

.tooltip-toggle {
  cursor: pointer;
  position: relative;

  svg {
    height: 43px;
    width: 30px;
  }

  &::before {
    position: absolute;
    top: -80px;
    left: -80px;
    z-index: 1000;
    background-color: #cecece;
    border-radius: 5px;
    color: #fff;
    content: attr(aria-label);
    padding: 1rem;
    text-transform: none;
    transition: all 0.5s ease;
    width: 560px;
    white-space: pre-line;
  }

  &::before,
  &::after {
    color: #000000;
    font-family: monospace;
    font-size: 16px;
    opacity: 0;
    pointer-events: none;
    text-align: center;
  }

  &:focus::before,
  &:focus::after,
  &:hover::before,
  &:hover::after {
    opacity: 1;
    transition: all 0.75s ease;
  }
}
