/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.form--content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 75vh;
    background-color: rgba(55, 65, 81, 0.75);
    border-radius: 25px;
}
