<h3 class="main-menu--title">MENU PRINCIPAL</h3>
<div class="main-menu--options">
<app-button [config]="{
    text: 'Crear Cuento',
    theme: 'default',
    redirectTo: { path: '/create-tale', view: 'create' },
}"></app-button>

<app-button [config]="{
    text: 'Crear Narrador',
    theme: 'default',
    redirectTo: { path: '/create-narrator', view: 'create' },
}"></app-button>

<app-button [config]="{
    text: 'Mis Cuentos',
    theme: 'default',
    redirectTo: { path: '/my-tales', view: 'list' },
}"></app-button>

<app-button [config]="{
    text: 'Salir',
    theme: 'default',
}"></app-button>
</div>

