<h3 class="main-menu--title">
    <a rputerLink="/home">
        MENU PRINCIPAL
    </a>
</h3>
<div class="main-menu--options">

<app-button [config]="{
    text: 'Login',
    theme: 'green-blue',
    redirectTo: { path: '/login' },
}"></app-button>

<app-button [config]="{
    text: 'Crear Cuento',
    theme: 'default',
    redirectTo: { path: '/create-tale' },
}"></app-button>

<app-button [config]="{
    text: 'Crear Narrador',
    theme: 'default',
    redirectTo: { path: '/create-narrator' },
}"></app-button>

<app-button [config]="{
    text: 'Crear Personaje',
    theme: 'default',
    redirectTo: { path: '/create-character' },
}"></app-button>

<app-button [config]="{
    text: 'Mis Cuentos',
    theme: 'default',
    redirectTo: { path: '/tale-list' },
}"></app-button>

<app-button [config]="{
    text: 'Salir',
    theme: 'default',
}"></app-button>
</div>

